# SECRET KEYS
# Key should be between 256 and 376[<384] bits (32 - 47 characters) for HS256 algorithm
JWT_SECRET=DeveloperSecretKeyForJWT123455789!
PASSWORD_SALT=DeveloperSaltForPasswordEncryption!
IT_SECRET=DevoloperSecretKeyForIT123455789!

# POSTGRES CONNECTION
DB_USER=postgres
DB_PASSWORD=password

# EMAIL CONFIGURATION
MAIL_USERNAME=resend
MAIL_PASSWORD=resend_api_key

# ADMIN CONFIGURATION
ADMIN_USERNAME=admin
ADMIN_PASSWORD=password
ADMIN_EMAIL=admin@exampe.com