# Azure data
AZURE_RESOURCE_GROUP=resource-group-name
AZURE_CONTAINER_REGISTRY=container-registry-name

# DB data
DB_USER=postgres
DB_PASSWORD=password

# App data
JWT_SECRET=JWTSecretKey
IT_SECRET=InternalSecretKey
PASSWORD_SALT=SaltForPasswordEncryption